test-workflow.json
{
    "nodes": [
        {
            "parameters": {},
            "id": "7d1ef4fd-f51b-4c1f-a390-471f03c8a269",
            "name": "When clicking 'Test workflow'",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -384,
                240
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "name": "Subject",
                            "value": "=Test Incident - {{ $now.format('yyyy-MM-DD HH:mm:ss') }}",
                            "type": "string",
                            "id": "c6d4c790-a33c-4bac-a599-234350efa290"
                        },
                        {
                            "name": "Status",
                            "value": "Active",
                            "type": "string",
                            "id": "3cabd5ea-dcb2-4fe7-9e46-e3336980575a"
                        },
                        {
                            "name": "Priority",
                            "value": "3",
                            "type": "string",
                            "id": "757ae03f-9d4b-4d4e-b03a-722e853d5363"
                        },
                        {
                            "name": "Symptom",
                            "value": "This is a test incident created by n8n workflow",
                            "type": "string",
                            "id": "1cc08a67-9378-46b5-bd5a-697a0704e89c"
                        }
                    ]
                },
                "options": {}
            },
            "id": "f027b64e-1183-4c4d-8bc5-285e03577e6c",
            "name": "Business Object - Create Incident",
            "type": "n8n-nodes-ivanti-neurons-itsm.ivantiNeuronsItsm",
            "typeVersion": 1,
            "position": [
                -192,
                240
            ],
            "credentials": {
                "ivantiNeuronsItsmApi": {}
            }
        },
        {
            "parameters": {
                "operation": "get",
                "recId": "={{ $json.RecId }}",
                "options": {}
            },
            "id": "08c66dd2-31c0-4677-9fc3-26fc8d3301ea",
            "name": "Business Object - Get Incident",
            "type": "n8n-nodes-ivanti-neurons-itsm.ivantiNeuronsItsm",
            "typeVersion": 1,
            "position": [
                16,
                240
            ],
            "credentials": {
                "ivantiNeuronsItsmApi": {}
            }
        },
        {
            "parameters": {
                "operation": "update",
                "recId": "={{ $json.RecId }}",
                "assignments": {
                    "assignments": [
                        {
                            "name": "Resolution",
                            "value": "Issue resolved via n8n workflow test",
                            "type": "string",
                            "id": "43fa175e-d3bc-4271-85ad-191044a95327"
                        }
                    ]
                },
                "options": {}
            },
            "id": "d4d23f55-1374-4ef9-b2ae-a248416a4d78",
            "name": "Business Object - Update Incident",
            "type": "n8n-nodes-ivanti-neurons-itsm.ivantiNeuronsItsm",
            "typeVersion": 1,
            "position": [
                224,
                240
            ],
            "credentials": {
                "ivantiNeuronsItsmApi": {}
            }
        },
        {
            "parameters": {
                "operation": "getAll",
                "limit": 200,
                "options": {
                    "filter": "Status eq 'Active'"
                }
            },
            "id": "b80ae776-1db2-40f6-9c5b-b374e84e5b22",
            "name": "Business Object - Get Many (Filter)",
            "type": "n8n-nodes-ivanti-neurons-itsm.ivantiNeuronsItsm",
            "typeVersion": 1,
            "position": [
                -192,
                448
            ],
            "credentials": {
                "ivantiNeuronsItsmApi": {}
            }
        },
        {
            "parameters": {
                "operation": "getAll",
                "limit": 5,
                "useSelect": true,
                "selectManual": "RecId,Subject,Status,Priority",
                "useSort": true,
                "orderByField": "CreatedDateTime",
                "orderDirection": "desc",
                "options": {}
            },
            "id": "69a48d42-5f07-4211-96dc-dffcc4ecf4ce",
            "name": "Business Object - Get Many (Select & Sort)",
            "type": "n8n-nodes-ivanti-neurons-itsm.ivantiNeuronsItsm",
            "typeVersion": 1,
            "position": [
                224,
                448
            ],
            "credentials": {
                "ivantiNeuronsItsmApi": {}
            }
        },
        {
            "parameters": {
                "businessObject": "Journal__Notes",
                "mode": "json",
                "body": "{\n  \"NotesBody\": \"This is a test journal note created via n8n\",\n  \"Subject\": \"n8n\",\n  \"PublishToWeb\": false\n}",
                "options": {}
            },
            "id": "352d5a3b-d281-4efa-a8c3-2217fbffa610",
            "name": "Create Journal Note (for Relationship)",
            "type": "n8n-nodes-ivanti-neurons-itsm.ivantiNeuronsItsm",
            "typeVersion": 1,
            "position": [
                -192,
                640
            ],
            "credentials": {
                "ivantiNeuronsItsmApi": {}
            }
        },
        {
            "parameters": {
                "resource": "relationship",
                "recId": "={{ $('Business Object - Create Incident').item.json.RecId }}",
                "relationshipName": "IncidentContainsJournal",
                "relatedRecId": "={{ $json.RecId }}",
                "options": {}
            },
            "id": "950f9f24-c012-47e2-a473-73da3b1c7635",
            "name": "Relationship - Create Link",
            "type": "n8n-nodes-ivanti-neurons-itsm.ivantiNeuronsItsm",
            "typeVersion": 1,
            "position": [
                16,
                640
            ],
            "credentials": {
                "ivantiNeuronsItsmApi": {}
            }
        },
        {
            "parameters": {
                "resource": "relationship",
                "operation": "getRelated",
                "recId": "={{ $('Business Object - Create Incident').item.json.RecId }}",
                "relationshipName": "IncidentContainsJournal",
                "options": {}
            },
            "id": "d5bab80f-ac1a-4da8-9147-7ef93266de6d",
            "name": "Relationship - Get Related",
            "type": "n8n-nodes-ivanti-neurons-itsm.ivantiNeuronsItsm",
            "typeVersion": 1,
            "position": [
                224,
                640
            ],
            "credentials": {
                "ivantiNeuronsItsmApi": {}
            }
        },
        {
            "parameters": {
                "resource": "relationship",
                "operation": "deleteRelationship",
                "recId": "={{ $('Business Object - Create Incident').item.json.RecId }}",
                "relationshipName": "IncidentContainsJournal",
                "relatedRecId": "={{ $('Create Journal Note (for Relationship)').item.json.RecId }}",
                "options": {}
            },
            "id": "82250d21-5b12-40f1-abdb-3c13da3e6cea",
            "name": "Relationship - Delete Link",
            "type": "n8n-nodes-ivanti-neurons-itsm.ivantiNeuronsItsm",
            "typeVersion": 1,
            "position": [
                624,
                640
            ],
            "credentials": {
                "ivantiNeuronsItsmApi": {}
            }
        },
        {
            "parameters": {
                "operation": "toJson",
                "options": {}
            },
            "id": "8742f9de-e30f-4cd9-8223-cb45e121e2fc",
            "name": "Create Test File",
            "type": "n8n-nodes-base.convertToFile",
            "typeVersion": 1.1,
            "position": [
                -192,
                848
            ]
        },
        {
            "parameters": {
                "resource": "attachment",
                "operation": "upload",
                "recId": "={{ $('Business Object - Create Incident').item.json.RecId }}",
                "options": {
                    "fileName": "123.txt"
                }
            },
            "id": "2b74d6d6-2562-437b-9675-c3e3375eb3b9",
            "name": "Attachment - Upload",
            "type": "n8n-nodes-ivanti-neurons-itsm.ivantiNeuronsItsm",
            "typeVersion": 1,
            "position": [
                16,
                848
            ],
            "credentials": {
                "ivantiNeuronsItsmApi": {}
            }
        },
        {
            "parameters": {
                "resource": "attachment",
                "operation": "get",
                "recId": "={{ $json.attachmentId }}"
            },
            "id": "bf583ddf-4f59-4103-9dc4-05a83f3b133f",
            "name": "Attachment - Get (Download)",
            "type": "n8n-nodes-ivanti-neurons-itsm.ivantiNeuronsItsm",
            "typeVersion": 1,
            "position": [
                224,
                848
            ],
            "credentials": {
                "ivantiNeuronsItsmApi": {}
            }
        },
        {
            "parameters": {
                "resource": "attachment",
                "operation": "delete",
                "recId": "={{ $json.attachmentId }}"
            },
            "id": "da70066f-ac6d-4f11-a298-4721e0aead46",
            "name": "Attachment - Delete",
            "type": "n8n-nodes-ivanti-neurons-itsm.ivantiNeuronsItsm",
            "typeVersion": 1,
            "position": [
                416,
                848
            ],
            "credentials": {
                "ivantiNeuronsItsmApi": {}
            }
        },
        {
            "parameters": {
                "operation": "delete",
                "recId": "={{ $('Business Object - Create Incident').item.json.RecId }}",
                "options": {}
            },
            "id": "09a5c415-b542-49ff-a6eb-e8aa0e06a3d8",
            "name": "Business Object - Delete Incident (Cleanup)",
            "type": "n8n-nodes-ivanti-neurons-itsm.ivantiNeuronsItsm",
            "typeVersion": 1,
            "position": [
                416,
                240
            ],
            "credentials": {
                "ivantiNeuronsItsmApi": {}
            }
        },
        {
            "parameters": {
                "operation": "delete",
                "businessObject": "Journal__Notes",
                "recId": "={{ $('Create Journal Note (for Relationship)').item.json.RecId }}",
                "options": {}
            },
            "id": "6f302f4f-b1ee-4023-8152-7fde6683b1c5",
            "name": "Delete Journal Note (Cleanup)",
            "type": "n8n-nodes-ivanti-neurons-itsm.ivantiNeuronsItsm",
            "typeVersion": 1,
            "position": [
                848,
                640
            ],
            "credentials": {
                "ivantiNeuronsItsmApi": {}
            }
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.limit",
            "typeVersion": 1,
            "position": [
                16,
                448
            ],
            "id": "de024d38-f8e7-41d2-97f6-709b9010c2e7",
            "name": "Limit (1)"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.limit",
            "typeVersion": 1,
            "position": [
                416,
                448
            ],
            "id": "eec4af91-7875-40be-bd3a-493ff8eacbee",
            "name": "Limit (2)"
        },
        {
            "parameters": {
                "operation": "getAll",
                "limit": 5,
                "useSelect": true,
                "selectMode": "list",
                "select": [
                    "RecId",
                    "Priority",
                    "Subject",
                    "Resolution"
                ],
                "useSort": true,
                "orderByField": "CreatedDateTime",
                "orderDirection": "desc",
                "options": {}
            },
            "id": "86c21155-dc5f-4d96-b67f-b6d78690d151",
            "name": "Business Object - Get Many (with dynamic selection)",
            "type": "n8n-nodes-ivanti-neurons-itsm.ivantiNeuronsItsm",
            "typeVersion": 1,
            "position": [
                624,
                448
            ],
            "credentials": {
                "ivantiNeuronsItsmApi": {}
            }
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.limit",
            "typeVersion": 1,
            "position": [
                416,
                640
            ],
            "id": "a00751db-d2b3-480c-b6ac-9bff2b1f2aba",
            "name": "Limit (3)"
        }
    ],
    "connections": {
        "When clicking 'Test workflow'": {
            "main": [
                [
                    {
                        "node": "Business Object - Create Incident",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Business Object - Create Incident": {
            "main": [
                [
                    {
                        "node": "Business Object - Get Incident",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Business Object - Get Many (Filter)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Create Journal Note (for Relationship)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Create Test File",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Business Object - Get Incident": {
            "main": [
                [
                    {
                        "node": "Business Object - Update Incident",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Business Object - Update Incident": {
            "main": [
                [
                    {
                        "node": "Business Object - Delete Incident (Cleanup)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Business Object - Get Many (Filter)": {
            "main": [
                [
                    {
                        "node": "Limit (1)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Business Object - Get Many (Select & Sort)": {
            "main": [
                [
                    {
                        "node": "Limit (2)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Journal Note (for Relationship)": {
            "main": [
                [
                    {
                        "node": "Relationship - Create Link",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Relationship - Create Link": {
            "main": [
                [
                    {
                        "node": "Relationship - Get Related",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Relationship - Get Related": {
            "main": [
                [
                    {
                        "node": "Limit (3)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Relationship - Delete Link": {
            "main": [
                [
                    {
                        "node": "Delete Journal Note (Cleanup)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Test File": {
            "main": [
                [
                    {
                        "node": "Attachment - Upload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Attachment - Upload": {
            "main": [
                [
                    {
                        "node": "Attachment - Get (Download)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Attachment - Get (Download)": {
            "main": [
                [
                    {
                        "node": "Attachment - Delete",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Limit (1)": {
            "main": [
                [
                    {
                        "node": "Business Object - Get Many (Select & Sort)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Limit (2)": {
            "main": [
                [
                    {
                        "node": "Business Object - Get Many (with dynamic selection)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Limit (3)": {
            "main": [
                [
                    {
                        "node": "Relationship - Delete Link",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {}
}